<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<!--/*@thymeVar id="owner" type"guru.springframework.sfgpetclinic.model.Owner"*/-->

    <h1 th:text="'List of Owners'">List of Owners'</h1>

    <Table>

        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">123</td><!-- ? is the Safe Navigation operator-->
            <td th:text="${owner?.firstName}">Joe</td>
            <td th:text="${owner?.lastName}">Buck</td>
        </tr>
    </Table>

</body>
</html>